body {
  font-family: "Arial";
}

.main-title {
  text-align: center;
}

.box{
  background-color: grey;
  border-style: solid;
  float: left; 
  width: 30%;
}

.space {
  float: left;
  width: 4%;
}

.title {
  border-style: solid;
}

.chicken {
  background-color: pink;
}

.beef {
  background-color: red;
}

.white {
  color: #fff;
}

.sushi {
  background-color: yellow;
}
