body {
  font-family: "Quicksand";
}

@font-face { 
  font-family: Quicksand; 
  src: local('Quicksand'), url('../fonts/Quicksand-Bold.otf'); /* non-IE */ 
}

.main-title {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 175%;
}

.box{
  background-color: grey;
  border-style: solid;
  float: left; 
  width: 30%;
}

.title-text {
  font-size: 125%;
  margin-top: 0px;
}

.space {
  float: left;
  width: 4%;
}

.title {
  border-style: solid;
  float: right;
  width: 35%;
  text-align: center;
  height: 25px;
  margin-left: 30px;
  border-left-width: 3px;
  border-top-width: 0px;
  border-right-width: 0px;
}

.chicken {
  background-color: #F08080 ;
}

.beef {
  background-color: #A52A2A;
}

.white {
  color: #fff;
}

.sushi {
  background-color: #EEE8AA;
}

.text {
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
}
