body {
  font-family: "Quicksand";
}

@font-face { 
  font-family: Quicksand; 
  src: local('Quicksand'), url('../fonts/Quicksand-Bold.otf'); /* non-IE */ 
}

#navbar-brand-text {
  font-family: "Quicksand";
  color: #000;
  font-size: 22px;
}

.main-title {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 175%;
}

.box-title {
  text-align: center;
  color: #000;
  font-size: 18px;
}

#navbar-stretch {
  background-color: #8c8c8c;
  border-color: #000;
  border: 3px solid;
}

.box {
  background-color: #8c8c8c;
}

.chicken-box{
  margin-right: 10px;
}

.beef-box {
  margin-left: 10px;
  margin-right: 10px;
}

.sushi-box{
  margin-left: 10px;
}

.col-md-4 {
  width: 32%;
}

@media (max-width: 1200px){
  .col-sm-6 {
    width: 48%;
  }
  .col-sm-12 {
    width:98%;
    margin-top: 20px;
    margin-left: 0px;
  }
}

@media (max-width: 768px){
  .box {
    margin-left: 10px;
    margin-right: 10px;
    width:97%;
  }
  .box-title {
    padding-top: 10px;
  }
   .col-sm-6 {
    width: 97%;
  }
  .col-sm-12 {
    width:96%;
    margin-top: 0px;
    margin-left: 10px;
  }
} 