body {
  font-family: "Quicksand";
}

@font-face { 
  font-family: Quicksand; 
  src: local('Quicksand'), url('../fonts/Quicksand-Bold.otf'); /* non-IE */ 
}

#navbar-brand-text {
  font-family: "Quicksand";
  color: #000;
  font-size: 22px;
}

.main-title {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 175%;
}

.box-title {
  text-align: center;
  color: #000;
  font-size: 18px;
}

#navbar-stretch {
  background-color: #8c8c8c;
  border-color: #000;
  border: 3px solid;
}

#container-mod {
  margin-left: initial; 
}

.box {
  background-color: #8c8c8c;
  margin-left: 10px;
  margin-right: 10px;
}

.col-md-4 {
  width: 31%;
}

@media (max-width: 991px){
  .box {
    margin-left: 10px;
    margin-right: 10px;
    width:97%;
  }
  .box-title {
    padding-top: 10px;
  }
}