/* Entire Webpage */

* {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand";
}

@font-face { 
  font-family: Quicksand; 
  src: local('Quicksand'), url('../fonts/Quicksand-Bold.otf'); /* non-IE */ 
}

/* Navbar Brand */

#navbar-brand-text {
  font-family: "Quicksand";
  color: #000;
  font-size: 22px;
}

#main-title {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 175%;
}

.box-title {
  text-align: center;
  color: #000;
  font-size: 18px;
}

#navbar-stretch {
  background-color: #8c8c8c;
  border-color: #000;
  border: 3px solid;
}

/* Navbar Button */

.navbar-default .navbar-toggle {
  border-color: #000;
}

.navbar-toggle {
  border: 2px solid transparent;
  padding: 7px 4px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #000;
}

.navbar-toggle .icon-bar {
  height:5px;
  width: 32px;
}

.navbar-toggle.visible­-xs:hover, .navbar-toggle.visible­-xs:focus{
  border-color: #fff;
  background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar:focus {
  background-color: #fff;
}

/* Menu Items */

#nav-list{
  margin-top: 0px;
  margin-bottom: 0px;
}

.menu-item{
  text-align:center;
  background-color: #fff;
  margin-bottom:0px; 
  border: 1px solid #000;
  padding-top: 3px;
  padding-bottom: 3px;
}

.menu-space{
  background-color: #fff;
}

/* Menu Items Media Queries */

@media (max-width: 767px){
  #collapse-nav{
    border: 1px solid black;
  }

  .sushi-item {
    border-bottom-width: 0px;
  }
}

/* Main Section */

.box {
  background-color: #8c8c8c;
  width:100%;
  height: auto;
  position:relative;
  padding:10px;
}

/* Main Section Media Queries */

@media (max-width: 991px){
  .box{
    margin-bottom: 20px;
  }
}

@media (max-width: 768px){
  .box-title {
    padding-top: 20px;
  }
  .text{
    padding: 15px;
  }
} 